.hero{
    background-image: url(../images/fondo-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    display: flex;
    justify-content: center;
}